@keyframes button-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.7;
  }
}

.form {
  max-width: 385px;
}

.form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  display: block;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.form__input {
  border-radius: 4px;
  border-color: #838383;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px 0 20px;
  margin-top: 8px;
  height: 60px;
}

.form__button {
  border-radius: 4px;
  width: 100%;
  padding: 0;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  border: none;
  color: #fff;
  margin-bottom: 32px;
}

.form__button:hover {
  animation: button-opacity 0.5s ease-in forwards;
}

.form__checkbox {
  border-radius: 2px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  width: 20px;
}

input::placeholder {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
